{% extends "base.html" %}

{% block title %}
  English to ISL - Sign Language WebApp
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/english_to_isl.css') }}">
{% endblock %}

{% block content %}
<div id="english-to-isl"></div>
    <div class="searchbar">
        <input type="text" id="textInput" placeholder="Type text here">
        <button id="convertButton">Convert</button>
    </div>
    <div class="isl-output" id="islOutput"></div>
</div>
{% endblock %}