{% extends "base.html" %}

{% block title %}
  Learning Tab
{% endblock %}

{% block content %}
    <div id="learning-tab">
        <!-- Marquee (Consider replacing this with CSS animation for better practice) -->
        <marquee>INDIAN SIGN LANGUAGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INDIAN SIGN LANGUAGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INDIAN SIGN LANGUAGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INDIAN SIGN LANGUAGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INDIAN SIGN LANGUAGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</marquee>

        <h1>Learning</h1>

        <button onclick="showSection('quizzes')">Quizzes</button>
        
        <div id="quizzes-section" style="display:none;">
            <h2>Indian Sign Language Quizzes</h2>
            <div id="quiz-levels"></div>
            <div id="quiz-content" style="display:none;">
                <div id="quiz-question"></div>
                <div id="quiz-options"></div>
                <button id="next-level" onclick="goToNextLevel()" style="display:none;">Next Level</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
{% endblock %}